.contact-me {
    width: 100%;
    margin-top: 11rem;
    display: flex;
    justify-content: center;

}

.contact-me__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me__title {
    position: relative;
    width: calc(100% - 8rem);
    z-index: 1;
}

.contact-me__title::before {
    content: "";
    position: absolute;
    width: 3.7rem;
    aspect-ratio: 1;
    background: url('../../../../../public/dots-bg-light.svg');
    background-color: #353353;
    z-index: 0;
    top: -1.8rem;
    left: -1.8rem;
}

.contact-me__content {
    width: calc(100% - 8rem);
}

.contact-me__box-img {
    min-width: 20rem;
    max-width: 33.333333%;
}

.contact-me__form {
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
}

.contact-me__input-container {
    width: 100%;
    display: block;
    
}


.contact-me__input {
    width: 100%;
    height: 6rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.contact-me__input--textarea {
    max-width: 100%;
    min-height: 15rem;
}

.contact-me__botton-box {
    display: block;
}

.contact-me__botton {
    padding: 1.2rem 3.2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: var(--color-withe);
    border-radius: 3rem;
    background-color: #ff4c60;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px 0px;
    transition: .4s;
}

.contact-me__botton:hover{
    
    animation: btn-hover .4s;
}

@keyframes btn-hover {
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 576px) {
    .contact-me__container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contact-me__container {
        max-width: 100%;
    }

    .contact-me__input-container {
        padding: 0 4rem;
    }

    .contact-me__content {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-me__form {
        max-width: 66.66666%;
    }

    .contact-me__botton-box {
        margin-left: 4rem;
    }
}

@media (min-width: 992px) {
    .contact-me__container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .contact-me__container {
        max-width: 1140px;
    }
}