
.button {
    padding: 1.2rem 3.2rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-withe);
    border-radius: 3rem;
    background-color: #ff4c60;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px 0px;
    transition: .4s;
}

.button:hover{
    
    animation: btn-hover .4s;
}

@keyframes btn-hover {
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}





