
.nav-btn {
    width: 4rem;
    aspect-ratio: 1;
    background: none;
    border: none;
    margin-left: 1rem;
}

.nav-btn-hamburger {
    font-size: 4rem;
    color: var(--color-withe);
    cursor: pointer;
}