
/* ********** Utilities  ********** */

.btn-on {
    transform: translateX(0);
}


.btn-off {
    transform: translateX(-100%);
}

.content-on {
    transform:translateX(0);
}

.content-off {
    transform: translateX(29rem);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ********** Site Styles  ********** */

.App {
    width: 100%;
    min-height: 100vh;
    background-color: #353353;
    overflow-x: hidden;
}

.header-desktop {
    width: 29rem;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: #4a4865 1px solid;
    color: #fff;
    overflow-x: hidden;
    transition: var(--animation-6ms);
}

.header-mobile {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    transition: var(--animation-6ms);
    

}

.header-mobile__container {
    max-width: 54rem;
    display: flex;
    gap: 3rem;
    margin: 0;
}

.main {
    position: relative;
    transition: var(--animation-6ms);
}


.profile-img {
    width: 10.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-profile1);
    overflow: hidden;
    position: relative;
}

.profile-img__image {
    width: 90%;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.spacer {
    height: 10rem;
    width: 100%;
}


@media (min-width: 576px) {
    .header-mobile__container {
        margin: 0 auto; 
    }
}

@media only screen and (min-width: 768px) {
    .header-mobile__container {
        max-width: 920px;
    }
}

@media (min-width: 992px) {
    .header-desktop {
        transform: translateX(0);
        z-index: 1;
        
    }

    .header-mobile{
        display: none;
    }
    
    .main {
        padding-left: 29rem;
        transform: var(--trans-on-all-content);
    }
    
}