/* ********** Customs Properties  ********** */
:root {
    --color-withe: #fff;
    --color-yellow: #f8cc5b;

    --color-content: #302f4e;

    --color-profile1: #fff7ba;
    --color-profile2: #47475d;


    --animation-3ms: .3s;
    --animation-6ms: .3s;

    --trans-on-formHeader: translateX(0);
    --trans-off-formHeader: translateX(-100%);
    --trans-on-all-content: translateX(0);
    --trans-off-all-content: translateX(29rem);

    --z-10: 10;
    --z-100: 100;
}

/* ********** Reset  ********** */

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-size: 16px;
    font-family: 'DynaPuff', cursive;
    background-color: #353353;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* ********** Utilities  ********** */






/* ********** Site Styles  ********** */

